
.esquerda {
    background-image: url("../../assets/fundo.png");
    width: 482px;

    height:100vh;
}

.esquerda h2 {
    width: 388px;
    height: 93px;
    left: 56px;
    top: 158px;
    padding-top: 163px;
    padding-left:47px;

    font-family: 'Montserrat' sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 130%;
    text-align: center;
    color: #034A2A;
}

main {
    display: flex;
}

.direita form {
display: flex;
flex-direction: column;
align-items: center;
}

