.esquerda-menu-sucesso {
  width: 200px;
  height: 100vh;
  padding-top: 163px;
  padding-left: 47px;
  display: flex;
  background: #F0F0F5;
}

.direita-form-sucesso {
  width: calc(100vw - 500px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sucesso {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 512px;
  background: #F0F0F5;
  border-radius: 30px;
  gap: 20px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: 24px;
  text-align: center;
  color: #343447;
}

.sucesso img {
  Width: 104px;
  Height: 104px;

}

.sucesso h1 {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #343447;
}

.btn-irLogin {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-irLogin:hover {
  opacity: 0.9;
}

.scroll-horizontal {
  display: flex;
  justify-content: center;

}

.scroll-horizontal img {
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 50px;
}