.container-cadastro {
  display: flex;  
  width: 100vw;
  align-items: center;
  background-color: #F8F8F9;
}

.direita-form-cadastro form {
  width:calc(100vw - 500px);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-grupo, .input {
  display: flex;
  flex-direction: column; 
  margin-top: 30px;
  gap: 8px;       
}

.input input {  
  width: 368px;
  height: 44px;
  border: 1px solid #D0D5DD;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  padding: 10px;      
}
.btn-cadastro{
 
  width: 160px;
  height: 33px;
  background: #DA0175;
  border-radius: 10px;
  border: none;
  margin-top: 40px;
  margin-bottom: 15px;
  
  font-family: 'Nunito', sans-serif;
  font-style: normal;
  font-size: 18px;
  color: #F8F8F9;
  cursor: pointer;
}

.btnEerro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn-cadastro:hover{
  opacity: 0.9;
}

.mensagem-error {
  font-family: 'Nunito', sans-serif;
  font-size: 16px;
  color: #E70000;
  display: flex;
  padding: 20px;
}

.link-para-Login{
  color: #DA0175;
  font-weight: bold;
}

.scroll-horizontal  {
 display: flex;
 justify-content: center;
 
}

.scroll-horizontal img {
  padding: 5px;
  margin-top: 80px;
  margin-bottom: 50px;
}
