@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat:wght@600;700&family=Nunito:wght@400;600&display=swap');

.container-editar-cadastro .conteudo {
    flex-direction: column;
}

.container-editar-cadastro .sucesso {
    display: flex;
    position: absolute;
    width: 600px;
    height: 512px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    position: relative;
    background-color: #FFFFFF;
    margin-top: -10px;
    z-index: 2;
}

.container-editar-cadastro .sucesso h1 {
    margin-top: 24px;
}

.container-editar-cadastro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
    width: 100%;
    padding: 40px 56px 40px 56px;
}

.container-editar-cadastro form {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    align-items: center;
}

.container-editar-cadastro input {
    margin-bottom: 20px;
}

.container-editar-cadastro button {
    width: 160px;
    height: 33px;
    background: #DA0175;
    font-family: 'Nunito', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F8F8F9;
}

.container-editar-cadastro .campos-verticais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.container-editar-cadastro .campos-verticais input {
    width: 379px;
}

.container-editar-cadastro .campos-horizontais {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.container-editar-cadastro .campos-horizontais input {
    width: 178px;
}

.container-editar-cadastro .campos-horizontais div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container-editar-cadastro .input-senha-editar-cadastro {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.container-editar-cadastro .input-senha-editar-cadastro img {
    position: absolute;
    right: 2px;
    top: 10px;
}

.container-editar-cadastro .message-error {
    color: red;
}