.container-cadastro {
    display: flex;
    width: 100vw;
    align-items: center;
    background-color: #F8F8F9;
}

.esquerda-menu-cadastro {
    width: 500px;
    height: 100vh;
    padding-top: 163px;
    padding-left: 47px;
    display: flex;
    background: #F0F0F5;
}

.direita-form-cadastro form {
    width: calc(100vw - 500px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.direita-form-cadastro span {
    width: 264px;
    height: 18px;
    font-family: 'Nunito';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 130%;
    text-align: center;
    color: #3F3F55;
}

.direita-form-cadastro .mensagem-error {
    font-size: 14px;
    color: #E70000;
    display: flex;
}